###############################################################################
# U ############################### UNCLASSIFIED ##############################
# Rocky 8 Kickstart
###############################################################################
# Created by: William Thompson
# Created on: 230412
# Updated by: William Thompson
# Updated on: 230512
# Version:    2.9
###############################################################################
# TODO: KS Cleanup, Structure and Functional changes needed
###############################################################################
# Testing
###############################################################################
##### Initialize pre logging #####
%pre --log=/tmp/ks.log
iotty=`tty`
exec < $iotty > $iotty 2> $iotty

##### Begin Setup #####
echo ""
echo "Active network adapter(s)"
echo ""
ip addr | grep state | grep " UP " | awk -F ": " '{ print $2 }'
echo ""
read -p "Enter Hostname     : " HOSTNAME
read -p "Enter mgmt adapter : " ADAPTER
read -p "Enter IP address   : " IPADDRESS
echo ""

GATEWAY=$(awk -F"." '{print $1"."$2"."$3".1"}'<<<$IPADDRESS)
cat >/tmp/network.ks <<EOF
network --bootproto=static --device=$ADAPTER --gateway=$GATEWAY --ip=$IPADDRESS --nameserver=_IpAddress_ --netmask=_IpAddress_ --activate
network --hostname=$HOSTNAME
EOF

# Auto select install disk
if [[ -d /sys/block/nvme0n1 ]]
then
    BOOTDRIVE="/dev/nvme0n1"
elif [[ -d /sys/block/sda ]]
then
    BOOTDRIVE="/dev/sda"
fi
read -p "Found $BOOTDRIVE as primary boot device, if this is correct enter (y) to continue. : " CONFIRM
if ! [[ $CONFIRM == [Yy] ]]
then
    break
fi

cat >/tmp/rootdrive.ks <<EOF
bootloader --location=mbr --append=" crashkernel=auto fips=1"
zerombr
clearpart --all --initlabel --drives=$BOOTDRIVE
ignoredisk --only-use=$BOOTDRIVE
EOF
%end

##### Begin Kickstart #####
# Use text install
text

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
%include /tmp/network.ks

# Use network installation
url --url="http://yum-server/yum/DVD-Rocky-8.7/"
repo --name="AppStream" --baseurl=http://yum-server/yum/DVD-Rocky-8.7/AppStream

# Run the Setup Agent on first boot
firstboot --disable
eula --agreed

##### Drive Setup Stage #####
%include /tmp/rootdrive.ks
part /boot      --fstype xfs  --size 1024
part /boot/efi  --fstype efi  --size 1024 --fsoptions="umask=0077,shortname=winnt"
part swap       --fstype swap --size 65536

part pv.01 --fstype lvmpv --grow --encrypted --luks-version luks2 --cipher aes-cbc-essiv:sha256 --passphrase "47454745"
volgroup VG0 pv.01 --pesize=4096
logvol /              --vgname VG0 --name LogVol1 --size 50000 --fstype xfs
logvol /var           --vgname VG0 --name LogVol2 --size 20480 --fstype xfs
logvol /var/log       --vgname VG0 --name LogVol3 --size 15360 --fstype xfs
logvol /var/log/audit --vgname VG0 --name LogVol4 --size 15360 --fstype xfs
logvol /var/tmp       --vgname VG0 --name LogVol5 --size 10240 --fstype xfs
logvol /tmp           --vgname VG0 --name LogVol6 --size 10240 --fstype xfs
logvol /home          --vgname VG0 --name LogVol7 --size 20480 --fstype xfs --grow

reboot --eject

# System timezone
timezone Etc/GMT --isUtc

# Root password
rootpw --iscrypted $6$pbvtI1j7.HeRMovD$zqAChDq/5MYE0Wt0.m8yK4K/oc0xyGB2e04m3hHXEEw1ChuaiLg11l4XRZj55XYQyeMa/wTdPfoMvi3qsq0yo.
user   --iscrypted --groups=wheel --name=localadm --password=$6$5NRSXhhGeHsMEy0u$BvU9k1qizGR7T3ER8B3xklW4cSnsxETMj1PjCahqKUQu2.g4ZHGhzb5GF/NQxNRKw1z28AUmjMIGO3ggcMNTC1 --gecos="localadm"
user   --iscrypted --groups=wheel --name=ansible  --password=$6$/fXS0xiW3dGtO7T1$5adoEhnolQeDM1.qXtJ0fLp/OrV8SK8AbgSuP/4bLfWDYo7zv.Tpb1I41e0CxOCie1Gc.6w4koqr6MF.F3c8G. --gecos="ansible"

%addon org_fedora_oscap
    content-type = scap-security-guide
    datastream-id = scap_org.open-scap_datastream_from_xccdf_ssg-rhel8-xccdf-1.2.xml
    xccdf-id = scap_org.open-scap_cref_ssg-rhel8-xccdf-1.2.xml
    profile = xccdf_org.ssgproject.content_profile_stig_gui
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%post
#Getting Started
echo "X-GNOME-Autostart-enabled=false" >> /etc/xdg/autostart/gnome-initial-setup-first-login.desktop
systemctl set-detault graphical.target

##### Fixes for oscap issues and usability #####
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial
dnf -y install nfs-utils
chmod 600 /etc/sssd/sssd.conf
sed -i '/*.* @@logcollector/s/^/#/' /etc/rsyslog.conf
sed -i '/$/s/^/#/' /etc/rsyslog.d/encrypt.conf
mv /etc/profile.d/tmux.sh /etc/profile.d/tmux.sh.bak
systemctl disable fapolicyd
systemctl enable cockpit.socket
for acc in root localadm ansible
do
    /usr/sbin/usermod -p '$6$LwGoUKtg$MrUF8oOmw8Z.QbwdoDMpFjlQy2YpyySHLf1T24gUxjYaSDY4Nh9tyfXOMfp8ZCQHowljlrJ9geMu01twtgei9.' $acc
    chage -M 60 -m 1 $acc
done
/usr/sbin/usermod -p '$6$hEMXURPO$cjXVWm00HkFo7DgSl/5dz3l1fwldxVWI1/YCJmJp1.k2rkTrkg.hmfs87nVldKiAQA0qsO5GhQheNoVySgEJH.' root
##################################################
%end

%packages
@^graphical-server-environment
@graphical-admin-tools
@headless-management
@network-file-system-client
@remote-desktop-clients
@remote-system-management
@system-tools
aide
audit
cockpit-pcp
fapolicyd
firewalld
opensc
openscap
openscap-scanner
openssh-server
openssl-pkcs11
policycoreutils
postfix
rng-tools
rsyslog
rsyslog-gnutls
scap-security-guide
tmux
usbguard
-abrt
-abrt-addon-ccpp
-abrt-addon-kerneloops
-abrt-cli
-abrt-plugin-sosreport
-alsa-firmware
-alsa-tools-firmware
-cheese
-empathy
-fxload
-iprutils
-krb5-server
-krb5-workstation
-libreport-plugin-logger
-python3-abrt-addon
-rsh-server
-sendmail
-telnet-server
-tftp-server
-tuned
-virt-what
-vsftpd
%end
# UNCLASSIFIED #
